<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JensensWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StylingBody.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JensensWebApp.styles.css" asp-append-version="true" />   
    <link rel="stylesheet" href="~/css/footerstyle.css" asp-append-version="true" />

    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow">

            <div class="container navcontainer">
                
                <a class="navbar-brand" href="#">

                    <img src="~/Images/Logo1.png" alt="Atlas Portal">
                    
                </a>

               
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hem</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Mer

                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="?topic=&sortBy=">All</a>
    <a class="dropdown-item" href="?topic=Halsa&sortBy=">Hälsa</a>
    <a class="dropdown-item" href="?topic=SamhalleKonflikter&sortBy=">Samhälle och Konflikter</a>
    <a class="dropdown-item" href="?topic=Miljo&sortBy=">Miljö</a>
    <a class="dropdown-item" href="?topic=VetenskapTeknik&sortBy=">Vetenskap och Teknik</a>
    <a class="dropdown-item" href="?topic=LivsstillFritt&sortBy=">Livsstil och Fritid</a>
    <a class="dropdown-item" href="?topic=Ekonomi&sortBy=">Ekonomi</a>
    <a class="dropdown-item" href="?topic=Religion&sortBy=">Religion</a>
    <a class="dropdown-item" href="?topic=Idrott&sortBy=">Idrott</a>
    </div>

                        </div>
                    </li>
                </ul>
              
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nyheter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sport</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kultur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Livsstil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Teknologi</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="~/login/Login.html" id="loginLink">Logga in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Prenumenera</a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
    <div class="mt-lg-3">
        <main role="main" class="mainclass">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-white">

        <!--&copy; 2023 - JensensWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>-->

        <div class="align-top text-center">

            <dl class="row m-0">
                <dt class="col"><a class="footer-nav-headline" href="#">Hälsa</a></dt>
                <dt class="col"><a class="footer-nav-headline" href="#">Samhälle & Konflikter</a></dt>
                <dt class="col"><a class="footer-nav-headline" href="#">Miljö</a></dt>
                <dt class="col"><a class="footer-nav-headline" href="#">Vetenskap & Teknik</a></dt>
                <dt class="col"><a class="footer-nav-headline" href="#">Livsstil & Fritid</a></dt>
                <dt class="col"><a class="footer-nav-headline" href="#">Ekonomi</a></dt>
                <dt class="col"><a class="footer-nav-headline" href="#">Religion</a></dt>
                <dt class="col"><a class="footer-nav-headline" href="#">Idrott</a></dt>

            </dl>
        </div>

        <div class="elemento1"></div>
        
        <div class="row secondary-footer">
            
            <div class="signup col">
                <p class="signup-text">Come on! Sign up for some more mjau-content</p>
                @*Bootstrap-knappen*@
                <button id="customPrompt" data-bs-toggle="modal" data-bs-target="#signUp" class="btn-footer bf-1">Sign up for our email</button>
                @*Javascript knapp in the making*@
                <button id="signupButton" class="btn-footer bf-1">Sign up for our email</button>
            </div>
            @*Bootstrap knapp för signup*@
            <div class="modal fade" id="signUp" tabindex="-1" aria-labelledby="signUpLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="signUpLabel">Aaawwww, U R CUTE </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Sign up here for content
                        </div>
                        <div class="input-group mb-3">
                            <div>
                            <input type="email" class="form-control" placeholder="Sign up with your email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            </div>
                            <button class="btn btn-primary">Sign me UP!</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="gridfooter col">

                <div class="row">
                    <div class="footer-box col">
                        <dl class="dl">
                            <dt class="dt-el"><a href="#" class="footer-box-el smaller">Hjälp</a></dt>
                            <dt class="dt-el"><a href="#" class="footer-box-el smaller">Klagomål</a></dt>
                            <dt class="dt-el"><a href="#" class="footer-box-el smaller">Rättelse</a></dt>
                            <dt class="dt-el"><a href="#" class="footer-box-el smaller">Kontakta oss</a></dt>
                            <dt class="dt-el"><a href="#" class="footer-box-el smaller">Kakor</a></dt>
                            

                        </dl>
                    </div>

                    <div class="footer-box col">
                        <dl class="dl">
                            <dt class="dt-el"><a href="#" class="footer-box-el smaller">Alla teman</a></dt>
                            <dt class="dt-el"><a href="#" class="footer-box-el smaller">Jobba hos oss</a></dt>
                            <dt class="dt-el"><a href="#" class="footer-box-el smaller">Journalister</a></dt>
                            <dt class="dt-el"><a href="#" class="footer-box-el smaller">Arkiv</a></dt>
                            

                        </dl>
                    </div>

                    <div class="footer-box col">
                        <dt class="dt-el"><a href="#" class="footer-box-el smaller">Facebook</a></dt>
                            <dt class="dt-el"><a href="#" class="footer-box-el smaller">YouTube</a></dt>
                            <dt class="dt-el"><a href="#" class="footer-box-el smaller">Instagram</a></dt>
                            <dt class="dt-el"><a href="#" class="footer-box-el smaller">LinkedIn</a></dt>
                            <dt class="dt-el"><a href="#" class="footer-box-el smaller">Twitter</a></dt>
                    </div>

                    <div class="col">
                        <h2 class="support-h2">Support us!</h2>
                        <button class="btn-footer bf-2">Support us</button>
                    </div>
                </div>
                
            </div>
        </div>

        <p>&#169; 2023 Grupp3 WebbNews Mjaumjau. All rights reserved.</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>