<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JensensWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JensensWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">JensensWebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
 
    <footer class="border-top footer text-muted">
        <div>
            &copy; 2023 - JensensWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

            <div class="primary-footer">
                <dl>
                    <dt><a href="#">Hälsa</a></dt>
                    <dt><a href="#">Samhälle & Konflikter</a></dt>
                    <dt><a href="#">Miljö</a></dt>
                    <dt><a href="#">Vetenskap & Teknik</a></dt>
                    <dt><a href="#">Livsstil & Fritid</a></dt>
                    <dt><a href="#">Ekonomi</a></dt>
                    <dt><a href="#">Religion</a></dt>
                    <dt><a href="#">Idrott</a></dt>

                </dl>
            </div>
            <div class="secondary-footer">
                <div class="signup"><p>Come on! Sign up for some more mjau-content</p> <button>CLICK ME</button></div>
                <hr>
                <div class="boxone">
                    <dl>
                        <dt><a href="#">Hjälp</a></dt>
                        <dt><a href="#">Klagomål</a></dt>
                        <dt><a href="#">Rättelse</a></dt>
                        <dt><a href="#">Jobba hos oss</a></dt>
                        <dt><a href="#">Kakor</a>
                        <dt>
                        <dt><a href="#">Kontakta oss</a></dt>

                    </dl>
                </div>
                <div class="boxtwo">
                    <dl>
                        <dt><a href="#">Alla teman</a></dt>
                        <dt><a href="#">Journalister</a></dt>
                        <dt><a href="#">Arkiv</a></dt>
                        <dt><a href="#">Facebook</a></dt>
                        <dt><a href="#">YouTube</a></dt>
                        <dt><a href="#">Instagram</a></dt>
                        <dt><a href="#">LinkedIn</a></dt>
                        <dt><a href="#">Twitter</a></dt>

                    </dl>
                </div>
                <div class="boxthree">
                    <p></p>
                </div>
                <div class="boxfour">
                    <h2>Support us!</h2>
                    <button>MONEY TO US</button>
                </div>
            </div>
            <p>&#169; 2023 Grupp3 WebbNews Mjaumjau. All rights reserved.</p>
            
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
