<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JensensWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StylingBody.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JensensWebApp.styles.css" asp-append-version="true" />   

    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow fixed-top">

            <div class="container navcontainer">
                
                <a class="navbar-brand" href="#">

                    <img src="~/Images/Img1.png" alt="Atlas Portal">

                </a>

               
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hem</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Mer

                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Världen</a>
                            <a class="dropdown-item" href="#">Fotboll</a>
                            <a class="dropdown-item" href="#">Mat</a>
                            <a class="dropdown-item" href="#">Mode</a>
                            <a class="dropdown-item" href="#">Rymdskepp</a>
                        </div>
                    </li>
                </ul>

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nyheter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sport</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kultur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Livsstil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Teknologi</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Logga in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Prenumenera</a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
   
    <div class="mt-lg-3">
        <main role="main" class="mainclass">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto py-3">
        <div>
            <!--&copy; 2023 - JensensWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>-->

            <div class="align-top ">

                <dl class="row m-0">
                    <dt class="list-group-item col"><a href="#">Hälsa</a></dt>
                    <dt class="list-group-item col"><a href="#">Samhälle & Konflikter</a></dt>
                    <dt class="list-group-item col"><a href="#">Miljö</a></dt>
                    <dt class="list-group-item col"><a href="#">Vetenskap & Teknik</a></dt>
                    <dt class="list-group-item col"><a href="#">Livsstil & Fritid</a></dt>
                    <dt class="list-group-item col"><a href="#">Ekonomi</a></dt>
                    <dt class="list-group-item col"><a href="#">Religion</a></dt>
                    <dt class="list-group-item col"><a href="#">Idrott</a></dt>

                </dl>

            </div>
            <div class="secondary-footer p-3">
                <div class="signup"><p>Come on! Sign up for some more mjau-content</p> <button>CLICK ME</button></div>
                <hr>
                <div class="gridfooter row">
                    <div class="boxone col">
                        <dl>
                            <dt class="my-0"><a href="#">Hjälp</a></dt>
                            <dt class="my-0"><a href="#">Klagomål</a></dt>
                            <dt class="my-0"><a href="#">Rättelse</a></dt>
                            <dt class="my-0"><a href="#">Jobba hos oss</a></dt>
                            <dt class="my-0"><a href="#">Kakor</a></dt>
                            <dt class="my-0"><a href="#">Kontakta oss</a></dt>

                        </dl>
                    </div>
                    <div class="boxtwo col">
                        <dl>
                            <dt><a href="#">Alla teman</a></dt>
                            <dt><a href="#">Journalister</a></dt>
                            <dt><a href="#">Arkiv</a></dt>
                            <dt><a href="#">Facebook</a></dt>
                            <dt><a href="#">YouTube</a></dt>
                            <dt><a href="#">Instagram</a></dt>
                            <dt><a href="#">LinkedIn</a></dt>
                            <dt><a href="#">Twitter</a></dt>

                        </dl>
                    </div>
                    <div class="boxthree col">
                        <p></p>
                    </div>
                    <div class="boxfour col-6">
                        <h2>Support us!</h2>
                        <button>MONEY TO US</button>
                    </div>
                </div>
            </div>

            <p>&#169; 2023 Grupp3 WebbNews Mjaumjau. All rights reserved.</p>

        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>