html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 14px;
}
/*L�nkar*/

:root {
    --primary-color: #ffffff;
    --secondary-color: #05091be1;
}

.dark-theme {
    --primary-color: #05091be1;
    --secondary-color: #fff;
}

.navbar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Jag ser inte att detta gör någonting 
a {
    color: var(--secondary-color);
}

    a:hover, a:active {
        color: #93cdcb;
    } 
*/
.navbar-nav {
    text-align: left;
    font-family: 'Batang'
}

.navbar ul li :hover {
    color: var(--secondary-color);
    border-bottom: solid 2px #999;
}

.navbar-brand img {
    max-height: 60px;
    width: auto;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: var(--secondary-color);
    font-weight: bold;
}

/* Detta gör ingenting 
.nav-link:hover,
.nav-link:focus {
    color: #150aa8;
} 
*/
.navcontainer {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 20px;
    padding: 0 2rem;
}

@media (max-width: 500px) {
    .navcontainer {
        flex-direction: column;
        justify-content: center;
    }
}

/* Skugga p� korten */
.card {
    box-shadow: 0px -5px 10px #999;
}
.card-body:hover {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 999;
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 2px 4px var(--secondary-color);
}

/* Rest of your existing styles */

a.dropdown-item[b-5u4fwv6eth] {
    color: var(--secondary-color);
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
}

    a.dropdown-item[b-5u4fwv6eth]:hover,
    a.dropdown-item[b-5u4fwv6eth]:focus {
        text-decoration: none;
        background-color: rgb(170, 170, 209);
    }

/* Rest of your existing styles */

.login-box {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

    .login-box input {
        width: 93.5%;
        margin-bottom: 10px;
        padding: 8px;
    }

    .login-box button {
        width: 100%;
        padding: 8px;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border: outset;
        cursor: pointer;
    }
   
    
.img-bg {
    cursor: pointer;
    border-radius: 50%;
    margin-right: 1.5rem;
}

main.mainclass {
    background-color: var(--primary-color);
    padding-top: 1.5rem;
}