﻿.gradient-bg {
    background-image: var(--gradient);
    animation: bg-animation 15s infinite alternate;
    background-size: 400%
}

:root {
    --gradient: linear-gradient( to right, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871 );
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.box-weather {
    display: flex;
    margin-left: 2rem;
    width: 80%;
    height: 200px;
}

.icon1-weather-box {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.icon2-weather-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}

.fullrapport-weather {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.hr-weather-box {
    display: flex;
    width: 75%;
    margin-left: 30px;
}

.card-topic {
    color: rgb(124, 172, 204);
}


.card-topic {
    color: rgb(124, 172, 204);
}
