@model IList<JensensWebApp.Models.Article>

@{
    ViewBag.Title = "Articles";

    Dictionary<string, string> topicDisplayNames = new Dictionary<string, string>
{
    {"Halsa", "Hälsa"},
    {"SamhalleKonflikter", "Samhälle och Konflikter"},
    {"Miljo", "Miljö"},
    {"VetenskapTeknik", "Vetenskap och Teknik"},
    {"LivsstillFritt", "Livsstil och Fritid"},
    {"Ekonomi", "Ekonomi"},
    {"Religion", "Religion"},
    {"Idrott", "Idrott"}
};

}

<div class="container-fluid">
    
    <div class="row">
        <div class="col-sm-3">
            <h1 class="d-flex justify-content-center text-center ">Väder</h1>
            <div class="box-weather card">
                <div class="text-center">
                    <p class="text-center">Temperatur: 25</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
        @foreach (var article in Model)
        {
            <div class="mb-4">
                <div class="card py-1">
                    <div class="card-body ">
                        <h5 class="card-title">@article.Title</h5>
                        <p class="card-text">@article.Summary</p>
                        <a href="@article.Link" class="card-link" target="_blank">Read More</a>
                        <p class="card-text"><small class="text-muted">@article.Published.ToString("yyyy-MM-dd HH:mm:ss")</small></p>
                    </div>
                </div>
            </div>
        }
        </div>
        <div class="col-sm-3">
           
        </div>
    </div> 
</div>
